[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
confuse = "*"
ipysheet = "*"
h5py = "*"
ipywidgets = "*"
ipympl = "*"
ipyvuetify = "*"
scipy = "*"
altair = "*"
xlrd = "*"
bqplot = "*"
ipyvolume = "*"
restart = "==2.6.7"
restart-datasets = "*"
voila = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
